<div id="fc_Featured"><a id="fc_FeaturedImages" href="{{ path('_accueil') }}"><img src="{{ asset('bundles/myappglobal/images/PhotoAccueil.jpg') }}" alt="Global Réservation" width="1338" height="1562" /></a>
  	<div id="fc_FeaturedTabs">
		<ul>
			{% if app.request.locale == "fr" %}
				<li><a class="fc_Active" href="{{ path('_hebergementfr') }}" rel=0>1</a></li> 
				<li><a href="{{ path('_forfaitsfr') }}" rel=1>2</a></li> 
				<li><a href="{{ path('_corpoeventsfr') }}" rel=2>3</a></li> 
				<li><a href="{{ path('_centersante') }}" rel=3>4</a></li> 
				<li><a href="{{ path('_attraitsactivity') }}" rel=4>5</a></li> 
			{% else %}
				<li><a class="fc_Active" href="{{ path('_hebergementen') }}" rel=0>1</a></li> 
				<li><a href="{{ path('_forfaitsen') }}" rel=1>2</a></li> 
				<li><a href="{{ path('_corpoeventsen') }}" rel=2>3</a></li> 
				<li><a href="{{ path('_centersante') }}" rel=3>4</a></li> 
				<li><a href="{{ path('_attraitsactivity') }}" rel=4>5</a></li> 
			{% endif %}
				<li><a href="{{ path('_promotion') }}" rel=5>6</a></li> 
				<li><a href="{{ path('_restaurant') }}" rel=6>7</a></li> 
		</ul>
	</div>
</div>