{% block suggestionHotel %}
	<div class="suggestion ">
	  <h3>{{ "suggestion.hebergement" | trans }}</h3>
	  
	  {# Région 1 #}
		<div >
		   {% for r1 in displayregionLeft1 %}		   	   
			   <h2><a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r1.repertoirefr|lower}) }}" title="Hôtel{% if listClientGauche1|length > 1 %}s{% endif %} région {{ r1.nomfr }}">Hôtel{% if listClientGauche1|length > 1 %}s{% endif %} {{ r1.nomfr }}</a></h2>
			         <ul>
			         {% for qc in listClientGauche1 %}
			           <li><a href="{{ path('_hebergementinfoclient',{'name':qc.repertoirefr|lower}) }}" target="_blank" title="Hôtel {{ qc.nomfr }}">{{ qc.nomfr }}</a> {% if qc.prixapartir is not empty %} <span>{{ "a.partir" | trans }} {{ qc.prixapartir|replace({"$":""}) }}$</span>{% endif %}</li>
			         {% endfor %}
			         </ul>
			   <h4>[<a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r1.repertoirefr|lower}) }}" title="Hôtels région {{ r1.nomfr }}" >Voir les hôtels région {{ r1.nomfr }}</a>]</h4>			   
		  {% endfor %}
		</div>
		
	   {# Région 2 #}
		<div >
		   {% for r2 in displayregionLeft2 %}		   	  
			   <h2><a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r2.repertoirefr|lower}) }}" title="Hôtel{% if listClientGauche2|length > 1 %}s{% endif %} région {{ r2.nomfr }}">Hôtel{% if listClientGauche2|length > 1 %}s{% endif %} {{ r2.nomfr }}</a></h2>
			         <ul>
			         {% for qc in listClientGauche2 %}
			           <li><a href="{{ path('_hebergementinfoclient',{'name':qc.repertoirefr|lower}) }}" target="_blank" title="Hôtel {{ qc.nomfr }}">{{ qc.nomfr }}</a> {% if qc.prixapartir is not empty %} <span>{{ "a.partir" | trans }} {{ qc.prixapartir|replace({"$":""}) }}$</span>{% endif %}</li>
			         {% endfor %}
			         </ul>
			   <h4>[<a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r2.repertoirefr|lower}) }}" title="Hôtels région {{ r2.nomfr }}" >Voir les hôtels région {{ r2.nomfr }}</a>]</h4>			   
		  {% endfor %}
		</div>
		
		{# Région 3 #}
		<div >
		   {% for r3 in displayregionLeft3 %}		   	  
			   <h2><a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r3.repertoirefr|lower}) }}" title="Hôtel{% if listClientGauche3|length > 1 %}s{% endif %} région {{ r3.nomfr }}">Hôtel{% if listClientGauche3|length > 1 %}s{% endif %} {{ r3.nomfr }}</a></h2>
			         <ul>
			         {% for qc in listClientGauche3 %}
			           <li><a href="{{ path('_hebergementinfoclient',{'name':qc.repertoirefr|lower}) }}" target="_blank" title="Hôtel {{ qc.nomfr }}">{{ qc.nomfr }}</a> {% if qc.prixapartir is not empty %} <span>{{ "a.partir" | trans }} {{ qc.prixapartir|replace({"$":""}) }}$</span>{% endif %}</li>
			         {% endfor %}
			         </ul>
			   <h4>[<a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r3.repertoirefr|lower}) }}" title="Hôtels région {{ r3.nomfr }}">Voir les hôtels région {{ r3.nomfr }}</a>]</h4>			  
		  {% endfor %}
		</div>
		
		{# Région 4 #}
		<div >
		   {% for r4 in displayregionLeft4 %}		   	  
			   <h2><a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r4.repertoirefr|lower}) }}" title="Hôtel{% if listClientGauche4|length > 1 %}s{% endif %} région {{ r4.nomfr }}">Hôtel{% if listClientGauche4|length > 1 %}s{% endif %} {{ r4.nomfr }}</a></h2>
			         <ul>
			         {% for qc in listClientGauche4 %}
			           <li><a href="{{ path('_hebergementinfoclient',{'name':qc.repertoirefr|lower}) }}" target="_blank" title="Hôtel {{ qc.nomfr }}">{{ qc.nomfr }}</a> {% if qc.prixapartir is not empty %} <span>{{ "a.partir" | trans }} {{ qc.prixapartir|replace({"$":""}) }}$</span>{% endif %}</li>
			         {% endfor %}
			         </ul>
			   <h4>[<a href="{{ path('_hebergementtyperegionfr',{'name':categorie.repertoire_fr|lower , 'region':r4.repertoirefr|lower}) }}" title="Hôtels région {{ r4.nomfr }}" >Voir les hôtels région {{ r4.nomfr }}</a>]</h4>			  
		  {% endfor %}
		</div>
	   <br class="clearfloat" />
	 </div>
{% endblock %}