{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="recentre">
			<tbody>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addcotations')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter une cotation</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0">
							<tbody>
							<tr class="rowsubheader">
								<td width="270" colspan=1>Valeur</td>
								<td width="270">Image</td>
							</tr>	
							{% for p in cotation %}
							<tr>
								<td colspan=1><a href="{{path('_Dashboard_updatecotations',{'id':p.id})}}">{{ p.valeur }}</a></td>
								<td colspan=1><a href="{{path('_Dashboard_updatecotations',{'id':p.id})}}"><img src="{{ asset('uploads/cotations/') }}{{ p.id }}/{{ p.image }}" title="{{ p.valeur }}" alt="{{ p.valeur }}"  style=" height:100px;"/></a></td>
							</tr>
							{% endfor %}	
							{% if cotation is empty %}
								<p class="searchnull">Pas de résultat trouvé</p>
							{% endif %}	
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}