{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addpays')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter un pays</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0">
							<tbody>
							<tr class="rowsubheader">
								<td width="270" colspan=1>Nom fr</td>
								<td width="270">Nom en</td>
							</tr>	
							{% for p in pays %}
							<tr>
								<td colspan=1><a href="{{path('_Dashboard_updatepays',{'id':p.id})}}">{{ p.nom_fr }}</a></td>
								<td colspan=1><a href="{{path('_Dashboard_updatepays',{'id':p.id})}}">{{ p.nom_en }}</a></td>
							</tr>
							{% endfor %}	
							{% if pays is empty %}
								<p class="searchnull">Pas de résultat trouvé</p>
							{% endif %}	
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
					{% for region in listRegion %}
										<li>{{ region.nomfr }}</li>
									{% endfor %} 
					{# Création du TreeView pour le Canada pays > provinces > régions > zones > villes #}
						<img class="country_canada" src="{{ asset('bundles/myappadmin/images/country/canada.jpeg') }}" style="width:150px; height:75px;"/> 
						<ul class="country_canada">
						 {% if listProvinceCanada is defined %}
							{% for province in listProvinceCanada %}
								<li ><form id="form_recherche_region" method="post" action="{{ path("_Dashboard_pays") }}" >
										<input type="hidden" class="recherche_region_motcle" value="8"/>
										<input type="submit" value="{{ province.nomfr }}" />
									 </form>
									<div class="loading"></div>
									<div class="resultats_recherche"></div>
									<ul class="province_canada">
									{% for region in listRegion %}
										<li>{{ region.nomfr }}</li>
									{% endfor %} 
									</ul>
								</li>
							{% endfor %}
						{% else %}
							<li >Aucun résultat trouvé</li>
						{% endif %}
						</ul>
					</td>
				</tr>
				<tr>
					<td>
					{# Création du TreeView pour les Usa pays > provinces > régions > zones > villes #}
						<img class="country_usa" src="{{ asset('bundles/myappadmin/images/country/usa.gif') }}" style="width:150px; height:75px;"/>
						 <ul class="country_usa">
						{% if listProvinceUsa is defined %}
							{% for province in listProvinceUsa %}
								<li >{{ province.nom_fr }}
									<ul class="province_usa">
									{% for region in listRegion %}
										<li>{{ region.nom_fr }}</li>
									{% endfor %}
									</ul>
								</li>
							{% endfor %}
						{% else %}
							<li >Aucun résultat trouvé</li>
						{% endif %}
						 </ul>
					</td>
				</tr>
				<tr>
					<td>
					{# Création du TreeView pour le Mexique pays > provinces > régions > zones > villes #}
						<img class="country_mexique" src="{{ asset('bundles/myappadmin/images/country/mexique.jpeg') }}" style="width:150px; height:75px;"/>
						 <ul class="country_mexique">
						{% if listProvinceMexique is defined %}
							{% for province in listProvinceMexique %}
								<li >{{ province.nom_fr }}
									<ul class="province_mexique">
									{% for region in listRegion %}
										<li>{{ region.nom_fr }}</li>
									{% endfor %}
									</ul>
								</li>
							{% endfor %}
						{% else %}
							<li >Aucun résultat trouvé</li>
						{% endif %}
						
						 </ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(".loading").hide();
		$("#form_recherche_region").submit(function(){
			$(".loading").show();
			var motcle = $(".recherche_region_motcle").val();
			//alert(motcle);
			var DATA = "motcle=" + motcle;
			//alert(DATA);
			$.ajax({
				type: "POST",
				url: "{{ path("_Dashboard_pays") }}",
				data: DATA,
				cache: false,
				success: function(data){
					$("#resultats_recherche").html(data);
					$(".loading").hide();
				}
			});
			return false;
		})
	</script>
{% endblock %}