{% extends '::base2.html.twig' %}

  	    {% block picture %}	
		<p class="legendeHome">{{ "activitescorporative" | trans }} {% if app.request.locale == "fr" %} région {{ clientAleatoire.regionid.nomfr }} {% else %} region {{ clientAleatoire.regionid.nomen }} {% endif %}</p>	
		{# div qui va contenir la photo principal du sujet de la section #}
		<div id="photoprincipale">
			{% if app.request.locale == "fr" %}
				<div class="nomSousCategorie">    
					<h1>{{ "activitescorporative" | trans }} région {{ clientAleatoire.regionid.nomfr }}</h1>
					<h3><a href="{{ path('_hebergementactivite',{'name':clientAleatoire.repertoirefr|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ clientAleatoire.nomfr }}">{{ "activitescorporative" | trans }}  {{ clientAleatoire.nomfr }} - région {{ clientAleatoire.regionid.nomfr }}</a></h3>	
				</div>
				{% if clientAleatoire.photopayante is not empty %}
			  		<img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="{{ clientAleatoire.nomfr }}" />
				{% else %}
					<div class="imgRemplacementGlobal"><img src="{{ asset('bundles/myappglobal/images/logoglobal.jpg') }}" alt="Image de remplacement pour {{ clientAleatoire.nomfr }} "></div>
				{% endif %}
			{% else %}
				<div class="nomSousCategorie">    
					<h1>{{ "activitescorporative" | trans }} region {{ clientAleatoire.regionid.nomen }}</h1>
					<h3><a href="{{ path('_hebergementactiviteen',{'name':clientAleatoire.repertoireen|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ clientAleatoire.nomen }}">{{ "activitescorporative" | trans }}  {{ clientAleatoire.nomen }} - region {{ clientAleatoire.regionid.nomen }}</a></h3>	
				</div>
				{% if clientAleatoire.photopayante is not empty %}
			  		<img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="{{ clientAleatoire.nomen }}" />
				{% else %}
					<div class="imgRemplacementGlobal"><img src="{{ asset('bundles/myappglobal/images/logoglobal.jpg') }}" alt="Replacement image for {{ clientAleatoire.nomen }} "></div>
				{% endif %}
			{% endif %}
		</div>
		{% endblock %}
		
		{# TEXTE DE D'ACCUEIL #}
		{% block texte_accueil %}
				{% if app.request.locale == "fr" %}
					<p>{{ texte_accueilfr|striptags|nl2br }}</p>
				{% else %}	
					<p>{{ texte_accueilen|striptags|nl2br }}</p>
				{% endif %}
		{% endblock %}

		{% block body %} 
		 	<h6>{{ "activite.corporative.groupe.region" | trans }} {% if app.request.locale == "fr" %} {{ clientAleatoire.regionid.nomfr }} {% else %} {{ clientAleatoire.regionid.nomen }} {% endif %}</h6>
			{# PAGINATION DU HAUT #}
			 <div class="pages" style="width:632px;" >
			    <ul class="paginationHebergement">
                                {% if app.request.locale == "fr" %}
                                           {% if displaypage == 1 %}
                                       Résultats de 1 à {{ total }}
                                       {% elseif page < displaypage %}
                                           {% if page == 1 %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ page+1 }} >> </a></li>
                                           {% else %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% endif %}
                                       {% elseif page == displaypage and displaypage > 1 %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>		      	 	
                                       {% endif %}
                               {% else %}
                                       {% if displaypage == 1 %}
                                       Result of 1 to {{ total }} 
                                       {% elseif page < displaypage %}
                                           {% if page == 1 %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% else %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% endif %}
                                       {% elseif page == displaypage and displaypage > 1 %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>		      	 	
                                       {% endif %}
                               {% endif %}
                            </ul>
			 </div>
			 {# Liste des activités de la région #}
			  <div class="liste attrait">
                            {% if app.request.locale == "fr" %}
                                {% for w in listePaginate %}
                                     <div>
				        <a href="{{ path('_hebergementactiviteen',{'name':w.repertoireen|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ w.nomfr }}">
                                            <img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ w.id }}/{{ w.photopayante }}" class="promotion ph" alt="{{ "activitescorporative" | trans }}  {{ w.nomfr }}" />
				        </a> 
				        <div class="listetexte">
                                            <h2><a href="{{ path('_hebergementactivite',{'name':w.repertoirefr|lower}) }}">{{ w.nomfr }}</a></h2>
                                            <p>{{ w.texteresumefr|striptags|truncate(500, '...') }}<a href="{{ path('_hebergementactivite',{'name':w.repertoirefr|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ w.nomfr }}"> Plus d'info </a></p>
				      	</div> 
				     </div>
                                {% endfor %}
                            {% else %}
			    	{% for w in listePaginate %}
				      <div>
				        <a href="{{ path('_hebergementactiviteen',{'name':w.repertoireen|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ w.nomen }}">
                                            <img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ w.id }}/{{ w.photopayante }}" class="promotion ph" alt="{{ "activitescorporative" | trans }}  {{ w.nomen }}" />
				        </a> 
				        <div class="listetexte">
                                            <h2><a href="{{ path('_hebergementactiviteen',{'name':w.repertoireen|lower}) }}">{{ w.nomen }}</a></h2>
                                            <p>{{ w.texteresumeen|striptags|truncate(500, '...') }}<a href="{{ path('_hebergementactiviteen',{'name':w.repertoireen|lower}) }}" target="_blank" title="{{ "activitescorporative" | trans }} {{ w.nomen }}"> More info</a></p>
				      	</div> 
				      </div>
			      	{% endfor %}
			    {% endif %}
			  </div>
			  {# PAGINATION DU BAS #}
			 <div class="pages" style="width:632px;" >
                            <ul class="paginationHebergement">
			  	{% if app.request.locale == "fr" %}
                                       {% if displaypage == 1 %}
                                       Résultats de 1 à {{ total }}
                                       {% elseif page < displaypage %}
                                           {% if page == 1 %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ page+1 }} >> </a></li>
                                           {% else %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% endif %}
                                       {% elseif page == displaypage and displaypage > 1 %}
                                               <li><a href="{{ path('_activitecorporegionfr',{'name':clientAleatoire.regionid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>		      	 	
                                       {% endif %}
                               {% else %}
                                       {% if displaypage == 1 %}
                                       Result of 1 to {{ total }} 
                                       {% elseif page < displaypage %}
                                           {% if page == 1 %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% else %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ page +1 }} >> </a></li>
                                           {% endif %}
                                       {% elseif page == displaypage and displaypage > 1 %}
                                               <li><a href="{{ path('_activitecorporegionen',{'name':clientAleatoire.regionid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page-1 }} </a></li>		      	 	
                                       {% endif %}
                               {% endif %}
                            </ul>
			 </div>
			  <br class="clearfloat" />
			  {# PUB GOOGLE #}
			  <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
			  	<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_01'); });
				</script>
			  </div>

		
	    {% endblock %}
		
		{% block gauche %}
			 {# Implémentation de la recherche par carte #}
         	 {% block ouAller %} {% include '::searchCard.html.twig' %} {% endblock %}
  			 {# PUB GOOGLE #}
				<div id="zone_02" class="styleBigBox">
					<script type='text/javascript'>
						googletag.cmd.push(function() { googletag.display('zone_02'); });
					</script>
				</div>
			{% if app.request.locale == "fr" %}
				 <div class="region">		 
			  		<h3>Choisir la ville pour une activité corporative dans la région {{ clientAleatoire.regionid.nomfr }}</h3>
					  <ul>
					    <dt>{{ clientAleatoire.regionid.nomfr }}</dt>
					    {% for p in listeVille %}
					    		<li><a href="{{ path('_activitecorpovillefr',{'name':p.villeid.repertoirefr|lower }) }}" title="{{ "activitescorporative" | trans }} ville {{ p.villeid.nomfr }}">{{ p.villeid.nomfr }}</a></li>
					    {% endfor %}
					    </ul>
					<br class="clearfloat" />
				</div>
				  	<img src="{{ asset('bundles/myappglobal/images/telephoneGauche.jpg') }}" width="304" height="65" alt="Réservation ou plus d'information 1 877 778 8977 ou 1 418 266 2165"/>
			{% else %}
				<div class="region">			 
			  		<h3>Select city for corporate activity in the region {{ clientAleatoire.regionid.nomen }}</h3>
					  <ul>
					    <dt>{{ clientAleatoire.regionid.nomen }}</dt>
					    {% for p in listeVille %}
					    		<li><a href="{{ path('_activitecorpovilleen',{'name':p.villeid.repertoireen|lower }) }}" title="{{ "activitescorporative" | trans }} city {{ p.villeid.nomen }}">{{ p.villeid.nomen }}</a></li>
					    {% endfor %}
					    </ul>
				    <br class="clearfloat" />
				</div>
					<img src="{{ asset('bundles/myappglobal/images/telephoneGaucheEn.png') }}" width="304" height="65" alt="Reservation or more information 1 877 778 8977 or 1 418 266 2165 "/>
			{% endif %}
		{% endblock%}