{% extends '::base2.html.twig' %}

		{% block picture %}	
		<p class="legendeHome">{{ "corpo.event.speciaux" | trans }} {{ "locationsallereunion" | trans |lower }} {% if app.request.locale == "fr" %} ville {{ clientAleatoire.sallecorporativehebergement.villeid.nomfr }} {% else %} city {{ clientAleatoire.sallecorporativehebergement.villeid.nomen }} {% endif %}</p>
		{# div qui va contenir la photo principal du sujet de la section #}
			<div id="photoprincipale">
				<div class="nomSousCategorie">
				{% if app.request.locale == "fr" %}
				<h1> {{ "locationsallereunion" | trans }} ville {{ clientAleatoire.sallecorporativehebergement.villeid.nomfr }}</h1>
				<h3><a href="{{ path('_hebergementcorporatif',{'name':clientAleatoire.sallecorporativehebergement.repertoirefr|lower}) }}" title="{{ "locationsallereunion" | trans }} {{ clientAleatoire.sallecorporativehebergement.nomfr }}" target="_blank">{{ clientAleatoire.sallecorporativehebergement.nomfr }} - ville {{ clientAleatoire.sallecorporativehebergement.villeid.nomfr }}</a></h3>
				{% else %}
				<h1> {{ "locationsallereunion" | trans }} city {{ clientAleatoire.sallecorporativehebergement.villeid.nomen }}</h1>
				<h3><a href="{{ path('_hebergementcorporatif',{'name':clientAleatoire.sallecorporativehebergement.repertoireen|lower}) }}" title="{{ "locationsallereunion" | trans }} {{ clientAleatoire.sallecorporativehebergement.nomen }}" target="_blank">{{ clientAleatoire.sallecorporativehebergement.nomen }} - city {{ clientAleatoire.sallecorporativehebergement.villeid.nomfr }}</a></h3>
				{% endif %}
				</div>
			    {% if clientAleatoire.sallecorporativehebergement.photopayante != null %}
                                <img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.sallecorporativehebergement.id }}/{{ clientAleatoire.sallecorporativehebergement.photopayante }}" class="big_picture" alt="{{ "locationsallereunion" | trans }} {% if app.request.locale == "fr" %} {{ clientAleatoire.sallecorporativehebergement.nomfr }} {% else %} {{ clientAleatoire.sallecorporativehebergement.nomen }} {% endif %} " />
                            {% else %}
                                <div class="imgRemplacementGlobal"><img src="{{ asset('bundles/myappglobal/images/logoglobal.jpg') }}" class="big_picture" {% if app.request.locale == "fr" %} alt="Image de remplacement pour {{ clientAleatoire.sallecorporativehebergement.nomfr }}" {% else %} alt="Replacement image for {{ clientAleatoire.sallecorporativehebergement.nomen }}" {% endif %}/></div>
                            {% endif %}
			</div>
		{% endblock %}
		{# TEXTE DE D'ACCUEIL #}
		{% block texte_accueil %}
                    {% if app.request.locale == "fr" %}
                            <p>{{ texte_accueilfr|striptags|nl2br }}</p>
                    {% else %}	
                            <p>{{ texte_accueilen|striptags|nl2br }}</p>
                    {% endif %}
		{% endblock %}

		{% block body %} 
			<div class="colonnes4">
				<h4>{{ "corpo.event.speciaux" | trans }} {% if app.request.locale == "fr" %} ville {{ clientAleatoire.sallecorporativehebergement.villeid.nomfr }} {% else %} city {{ clientAleatoire.sallecorporativehebergement.villeid.nomen }} {% endif %}</h4>
			</div>
			 {# PAGINATION DU HAUT #}
			 <div class="pages" style="width:632px;" >
			  	<ul class="paginationHebergement">
			  	{% if app.request.locale == "fr" %}
				    {% if displaypage == 1 %}
		      	 	Résultats de 1 à {{ total }}
		      	 	{% elseif page < displaypage %}
			       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
			       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ displaypage }} >> </a></li>
		      	 	{% elseif page == displaypage and displaypage > 1 %}
			       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
		      	 	{% elseif page > displaypage  %}
			       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> >> {{ page }} </a></li>
		       		{% endif %}
		       	{% else %}
		       		{% if displaypage == 1 %}
		      	 	Result of 1 to {{ total }} 
		      	 	{% elseif page < displaypage %}
			       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
			       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ displaypage }} >> </a></li>
		      	 	{% elseif page == displaypage and displaypage > 1 %}
			       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
		      	 	{% elseif page > displaypage %}
			       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> >> {{ page }} </a></li>
		       		{% endif %}
		       	{% endif %}
		       	</ul>
			 </div>
			  {# LISTE DES CLIENTS POUR LA VILLE #}
			      <div class="liste">
			      {% if app.request.locale == "fr" %}
				       {% for w in listeclientSalle %}
				         <div> 
				          {# <div><a href="#"><img src="images/monItineraire.png" width="187" height="136" alt="Mon itinéraire" /></a></div>#}
				           <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoirefr|lower}) }}" title="{{ w.sallecorporativehebergement.nomfr }} région {{ w.sallecorporativehebergement.regionid.nomfr }}" target="_blank">
				            {% if w.sallecorporativehebergement.photocategoriepayante is not empty %}
				           	<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ w.sallecorporativehebergement.id }}/{{ w.sallecorporativehebergement.photocategoriepayante }}" class="imgListeRegion" alt="{{ w.sallecorporativehebergement.nomfr }} région {{ w.sallecorporativehebergement.regionid.nomfr }}" />
				            {% else %}
				            	<img src="{{ asset('bundles/myappglobal/images/manicouagan2.jpg') }}" class="imgListeRegion" alt="{{ w.sallecorporativehebergement.nomfr }} région {{ w.sallecorporativehebergement.regionid.nomfr }}" />
				            {% endif %}
				           </a>
				           <div class="listetexte">
				           {% if  w.sallecorporativehebergement.classificationid != "" %}
							 <img class="etoile" src="{{ asset('uploads/classifications') }}/{{ w.sallecorporativehebergement.classificationid.id }}/{{ w.sallecorporativehebergement.classificationid.image }}"  alt="{{ w.sallecorporativehebergement.classificationid.valeur }}" />
				           {% endif %}
				             <h2 class="ajustewidthTitle"><a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoirefr|lower}) }}" title="{{ w.sallecorporativehebergement.nomfr }} région {{ w.sallecorporativehebergement.regionid.nomfr }}" target="_blank">{{ w.sallecorporativehebergement.nomfr }}</a></h2>
				  		{% if w.sallecorporativehebergement.texteresumefr != null %}
                                                    <p>{{ w.sallecorporativehebergement.texteresumefr|truncate(150, '...') }} <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoirefr}) }}" title="{% for q in clientAleatoire.sallecorporativehebergement.categoriehebergementid %} {{ q.nomfr }} {{ w.sallecorporativehebergement.nomfr }} {% endfor %}" target="_blank">Plus d’information</a></p>
                                                {% else %}
                                                    <p>{{ w.sallecorporativehebergement.textedescriptionfr|truncate(150, '...') }} <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoirefr}) }}" title="{% for q in clientAleatoire.sallecorporativehebergement.categoriehebergementid %} {{ q.nomfr }} {{ w.sallecorporativehebergement.nomfr }} {% endfor %}" target="_blank">Plus d’information</a></p> 
                                                {% endif %}
				             <ul class="telephone">		
				               <li style="height:40px;">Ville de {{ w.sallecorporativehebergement.villeid.nomfr }} {%if w.sallecorporativehebergement.latitude != 0 and w.sallecorporativehebergement.longitude != 0 %}[ <a href="{{ path('_hebergementdirectionroutiere',{'name':w.sallecorporativehebergement.repertoirefr}) }}" target="_blank" > Voir sur la carte </a> ]{% endif %}</li>
				               {#<li>18 commentaires <img src="images/commentaire7.gif" width="81" height="11" alt="" /> 7/10</li>#}
				               {#<li  class="itineraire"><a href="#">Voir mon itinéraire</a></li>#}
				           	 </ul>
				           	    {% if w.sallecorporativehebergement.reservitid != null %}
					           	<a class="btreservation btn-reservit" href="http://reservation.global-reservation.com/reservit/avail-info.php?hotelid={{ w.sallecorporativehebergement.reservitid }}" title="Réservation en ligne" target="_blank" style="margin-top:5px;"><img src="{{ asset('bundles/myappglobal/images/vide.gif') }}" class="btn_reservit"  alt="bouton"/>{{ "reservation.ligne" | trans }}</a>
					            {% endif %}
				           </div>
				         </div> 
				       {% endfor %}
				  {% else %}
                                      {% for w in listeclientSalle %}
				         <div> 
				          {# <div><a href="#"><img src="images/monItineraire.png" width="187" height="136" alt="Mon itinéraire" /></a></div>#}
				           <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoireen|lower}) }}" title="{{ w.sallecorporativehebergement.nomen }} region {{ w.sallecorporativehebergement.regionid.nomen }}" target="_blank">
				           {% if w.sallecorporativehebergement.photocategoriepayante is not empty %}
				           	<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ w.sallecorporativehebergement.id }}/{{ w.sallecorporativehebergement.photocategoriepayante }}" class="imgListeRegion" alt="{{ w.sallecorporativehebergement.nomen }} region {{ w.sallecorporativehebergement.regionid.nomen }}" />
				            {% else %}
				            	<img src="{{ asset('bundles/myappglobal/images/manicouagan2.jpg') }}" class="imgListeRegion" alt="{{ w.sallecorporativehebergement.nomen }} region {{ w.sallecorporativehebergement.regionid.nomen }}" />
				            {% endif %}
				           </a>			           
				           <div class="listetexte">
				           {% if  w.sallecorporativehebergement.classificationid != "" %}
							 <img class="etoile" src="{{ asset('uploads/classifications') }}/{{ w.sallecorporativehebergement.classificationid.id }}/{{ w.sallecorporativehebergement.classificationid.image }}"  alt="{{ w.sallecorporativehebergement.classificationid.valeur }}" />
				           {% endif %}
				             <h2 class="ajustewidthTitle"><a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoireen|lower}) }}" title="{{ w.sallecorporativehebergement.nomen }} region {{ w.sallecorporativehebergement.regionid.nomen }}" target="_blank">{{ w.sallecorporativehebergement.nomen }}</a></h2>
				  		{% if  w.sallecorporativehebergement.texteresumeen != null %}
                                                    <p>{{ w.sallecorporativehebergement.texteresumeen|truncate(150, '...') }} <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoireen}) }}" title="{% for q in clientAleatoire.sallecorporativehebergement.categoriehebergementid %} {{ q.nomen }} {{ w.sallecorporativehebergement.nomen }} {% endfor %}" target="_blank">More information</a></p>
                                                {% else %}
                                                     <p>{{ w.sallecorporativehebergement.textedescriptionen|truncate(150, '...') }} <a href="{{ path('_hebergementinfoclient',{'name':w.sallecorporativehebergement.repertoireen}) }}" title="{% for q in clientAleatoire.sallecorporativehebergement.categoriehebergementid %} {{ q.nomen }} {{ w.sallecorporativehebergement.nomen }} {% endfor %}" target="_blank">More information</a></p>
                                                {% endif %}
				             <ul class="telephone">				            
				               <li style="height:40px;">City of {{ w.sallecorporativehebergement.villeid.nomen }} {%if w.sallecorporativehebergement.latitude != 0 and w.sallecorporativehebergement.longitude != 0 %}[ <a href="{{ path('_hebergementdirectionroutiere',{'name':w.sallecorporativehebergement.repertoireen}) }}" target="_blank" > View on map </a> ]{% endif %}</li>
				               {#<li>18 commentaires <img src="images/commentaire7.gif" width="81" height="11" alt="" /> 7/10</li>#}
				               {#<li  class="itineraire"><a href="#">Voir mon itinéraire</a></li>#}
				            </ul>
					           {% if w.sallecorporativehebergement.reservitid != null %}
					           	<a class="btreservation btn-reservit" href="http://reservation.global-reservation.com/reservit/avail-info.php?hotelid={{ w.sallecorporativehebergement.reservitid }}" target="_blank" title="Online booking" style="margin-top:5px;"><img src="{{ asset('bundles/myappglobal/images/vide.gif') }}" class="btn_reservit"  alt="bouton"/>{{ "reservation.ligne" | trans }}</a>
					           {% endif %}
				           </div>
				         </div>
				       {% endfor %} 
				  {% endif %}   
			      </div>
		      	{# PAGINATION DU BAS #}
		      	 <div class="pages">
		      	 	<ul class="paginationHebergement">
					{% if app.request.locale == "fr" %}
					    {% if displaypage == 1 %}
			      	 	Résultats de 1 à {{ total }}
			      	 	{% elseif page < displaypage %}
				       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
				       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> {{ displaypage }} >> </a></li>
			      	 	{% elseif page == displaypage and displaypage > 1 %}
				       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
			      	 	{% elseif page > displaypage  %}
				       				<li><a href="{{ path('_locationsallereunionvillefr',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoirefr|lower, 'page':page +1}) }}" class="pagescolor"> >> {{ page }} </a></li>
			       		{% endif %}
			       	{% else %}
			       		{% if displaypage == 1 %}
			      	 	Result of 1 to {{ total }} 
			      	 	{% elseif page < displaypage %}
				       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
				       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> {{ displaypage }} >> </a></li>
			      	 	{% elseif page == displaypage and displaypage > 1 %}
				       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page -1}) }}" class="pagescolor"> << {{ page }} </a></li>
			      	 	{% elseif page > displaypage %}
				       				<li><a href="{{ path('_locationsallereunionvilleen',{'name':clientAleatoire.sallecorporativehebergement.villeid.repertoireen|lower, 'page':page +1}) }}" class="pagescolor"> >> {{ page }} </a></li>
			       		{% endif %}
		       		{% endif %}
			       	</ul>
		        </div>
		        {# PUB GOOGLE #}
				  <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait hackPub" style="padding-top:20px;">
				  	<script type='text/javascript'>
						googletag.cmd.push(function() { googletag.display('zone_01'); });
					</script>
				  </div> 
			  <br class="clearfloat" />
		{% endblock %}
		
		{% block gauche %}
			 {# Implémentation de la recherche par carte #}
         	 {% block ouAller %} {% include '::searchCard.html.twig' %} {% endblock %}
  			 {# PUB GOOGLE #}
			<div id="zone_02" class="bigBox">
				<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_02'); });
				</script>
			</div>
		{% endblock%}