 <progress id="avancementcategorie" min="0" max="100" aria-valuemin="0" aria-value="100" class="hideprogression" style="margin-left:25px;"></progress>
 <output id="infoscategorie" class="hideprogression" style="margin-left:25px;"></output>
  {% if photoCategorie != "" %}
     <div class="retourajaxcategorie">
       {% if msgerrorcategorie is defined and msgerrorcategorie is not empty %}<span class="errorDimension">{{ msgerrorcategorie }}</span>{% endif %}
       <img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ id }}/{{ photoCategorie }}" class="imageCompteClientCategorie imageCompteClient" id="imgcategorieformdata"/> 
     </div>   
  {% endif %}

<script>
    
                            
        document.getElementById("add_hebergement_photo_categorie_payante").setAttribute("onchange", "loadFileCategorie()");
        var progressioncategorie = document.getElementById("avancementcategorie");
        var infoscategorie = document.getElementById("infoscategorie");
        
        loadFileCategorie = function(){
            if(window.FormData){
                var fdcategorie = new FormData();                                                                                    
            }else{
                alert("Ce navigateur n'est pas compatible.");
                return;
            }
            //affiche la barre de progression
            progressioncategorie.className = "showprogression";
            infoscategorie.className = "showprogression";
            //ignitialisation d'ajax
            var xhrcategorie = new XMLHttpRequest();
            xhrcategorie.open("POST", "{{ path('_uploadcategoriehebergement') }}", true);
            xhrcategorie.onreadystatechange = function(event){
                if(this.readyState === 4){
                    progressioncategorie.className = "hideprogression";
                    infoscategorie.className = "hideprogression";
                   $(".retourajaxcategorie img").remove();
                   $(".retourajaxcategorie").append(event.target.responseText);
                    infoscategorie.innerHTML = "";
                }
            };
            //pendant la progression
            xhrcategorie.onprogress = function(event){
                if(event.lengthComputable){
                    var pourcentage = Math.round(event.loaded*100/event.total);
                    infoscategorie.innerHTML += pourcentage.toString()+" % <br />";
                    progressioncategorie.setAttribute("aria-valuenow",pourcentage);
                    progressioncategorie.value = pourcentage;
                }
            }
            //terminé avec succès
            xhrcategorie.onload = function(event){
              infoscategorie.innerHTML += '<p style="color:green"> Chargement en cours </p>' ; 
            };
            //erreur pendant le chargement
            xhrcategorie.onerror = function(event){
              infoscategorie.innerHTML += '<p style="color:red"> Erreur de chargement </p>' ; 
            };
            //chargemnrt interrompu
            xhrcategorie.onabort = function(event){
              infoscategorie.innerHTML += '<p style="color:orange"> Annulation du chargement </p>' ; 
            };
            var imgcategorie = document.getElementById("add_hebergement_photo_categorie_payante").files[0];
            fdcategorie.append("id", "{{ id }}");
            fdcategorie.append("photoCategorie", imgcategorie);
            xhrcategorie.send(fdcategorie);
        }    

</script>

