 <progress id="avancementlogo" min="0" max="100" aria-valuemin="0" aria-value="100" class="hideprogression" style="margin-left:25px;"></progress>
 <output id="infoslogo" class="hideprogression" style="margin-left:25px;"></output>
  {% if photoLogo != "" %} 
     <div id="retourlogoajax">
        {% if msgerrorlogo is defined and msgerrorlogo is not empty %}<span class="errorDimension">{{ msgerrorlogo }}</span>{% endif %}
        <img src="{{ asset('uploads/attrait/') }}{{ id }}/{{ photoLogo }}" class="imageCompteClientLogo imageCompteClient" id="imglogoformdata"/>
     </div>   
  {% endif %}

<script>
    
       /* $(function(){      
           
           $(".jcrop-tracker img#imgprincipaleformdata").attr("onclick", "addPopupCrop()");
           
            addPopupCrop = function(){
                $("#dialog_crop_img_principale").css({"display":"block"});
                $( "#dialog_crop_img_principale" ).dialog({
                    modal: true,
                    buttons: {
                      Crop: function() {
                        $( this ).dialog( "close" );
                      }
                    }
                });
           }
                 
                
           $("#retourajax ").click(function(){
                
                $('#dialog_crop_img_principale img#imgprincipaleformdata').Jcrop({
                        aspectRatio: 16/9,
                        maxSize: [594,594,328,328],
                       // onSelect: updateCoords  
                        onSelect: showCoords,
                        onChange: showCoords
                });
                function showCoords(c)
                {
                    // variables can be accessed here as
                     c.w, c.h, c.x, c.y, c.copyw, c.copyh;
                };
                addPopupCrop();
                $(".ui-dialog").css({"width":"660px", "height":"600px"});
              //  $('.ui-dialog #dialog_crop_img_principale img#imgprincipaleformdata').css({"margin":"0px"});
           });
           
        });*/
    
                                   
	document.getElementById("add_texte_activite_logo").setAttribute("onchange", "loadFileLogo()");
        var progressionlogo = document.getElementById("avancementlogo");
        var infoslogo = document.getElementById("infoslogo");
       // var imgprincipale = document.getElementById("imgprincipaleformdata"); 
        var responselogo = document.getElementById("retourlogoajax");
        
        loadFileLogo = function(){
            if(window.FormData){
                var fdlogo = new FormData();                                                                                    
            }else{
                alert("Ce navigateur n'est pas compatible.");
                return;
            }
            //affiche la barre de progression
            progressionlogo.className = "showprogressionlogo";
            infoslogo.className = "showprogressionlogo";
            //ignitialisation d'ajax
            var xhrlogo = new XMLHttpRequest();
            xhrlogo.open("POST", "{{ path('_uploadlogoattrait') }}", true);
            xhrlogo.onreadystatechange = function(event){
                if(this.readyState === 4){
                    //imgprincipale.innerHTML = event.target.responseText;
                    progressionlogo.className = "hideprogression";
                    infoslogo.className = "hideprogression";
                    responselogo.innerHTML = event.target.responseText; 
                    infoslogo.innerHTML = "";
                    //cropimg();
                }
            };
            //pendant la progression
            xhrlogo.onprogress = function(event){
                if(event.lengthComputable){
                    var pourcentage = Math.round(event.loaded*100/event.total);
                    infoslogo.innerHTML += pourcentage.toString()+" % <br />";
                    progressionlogo.setAttribute("aria-valuenow",pourcentage);
                    progressionlogo.value = pourcentage;
                }
            }
            //terminé avec succès
            xhrlogo.onload = function(event){
              infoslogo.innerHTML += '<p style="color:green"> Chargement en cours </p>' ; 
            };
            //erreur pendant le chargement
            xhrlogo.onerror = function(event){
              infoslogo.innerHTML += '<p style="color:red"> Erreur de chargement </p>' ; 
            };
            //chargemnrt interrompu
            xhrlogo.onabort = function(event){
              infoslogo.innerHTML += '<p style="color:orange"> Annulation du chargement </p>' ; 
            };
            var imglogo = document.getElementById("add_texte_activite_logo").files[0];
            fdlogo.append("id", "{{ id }}");
            fdlogo.append("photoLogo", imglogo);
            xhrlogo.send(fdlogo);

        }      

</script>

{#<div id="dialog_crop_img_principale" title="{{ 'outil.crop' | trans }}" style="display:none;">
 <img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ id }}/{{ photoPrincipale }}" style="max-width:640px; max-height:480px;" id="imgprincipaleformdata"/>
 <form action="" method="post" enctype="multipart/form-data" style='width:594px; height:35px;' > 
    <input type='hidden' id='w' />
    <input type='hidden' id='h' />
    <input type='hidden' id='x' />
    <input type='hidden' id='y' />
    <input type='text' id='copyw' value='594 px'/>
    <input type='text' id='copyh' value='328 px'/>
    <input type='submit' id='submitcropimgprincipale' />
 </form>
</div>#}