{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
	{# Moteur de recherche pour les catégories des attraits #}
	<form action="" method="post" {{ form_enctype(formCat) }} class="engine_search_category_attrait">
		<p style="color:grey;">Recherche par catégorie d'attrait</p>					
	    {{ form_widget(formCat.statut, {'attr':{'class':'moteur_recherche_category_attrait'}}) }}
	    <input type="submit" value="" class="loupe_moteur btn_search_category_attrait"/>
	</form>
	
	{# Moteur de recherche #}
	<form action="" method="post" {{ form_enctype(form) }} class="engine_search">					
	    {{ form_widget(form.nom_fr, {'attr':{'class':'moteur_recherche', 'list':'listregion'}}) }}
	    <datalist id="listregion">
	    	{% for v in autocompletion %}
	    		 <option value="{{ v.nom_fr }}">
	    	{% endfor %}
	    </datalist>
	    <input type="submit" value="" class="loupe_moteur_2 btn_search_2"/>
	</form>
	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="recentre">
			<tbody>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addattrait')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter un attrait</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0" class="menu_mobile">
							<tbody>
									<tr class="rowsubheader">
										<td width="270" colspan=1>Nom FR</td>
										<td width="100" colspan=1>Statut</td>
										<td width="270">Nom EN</td>
									</tr>
							</tbody>
						</table>
						
						<table align="center" class="info_scroll" cellpadding="0" border="0">
							<tbody>

							{% if number == 1 %}{# Affiche par défaut la pagination #}
								{% for p in attrait %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page})}}">{{ p.nom_fr }}</a></td>
										<td colspan=1 width="100"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page})}}">{% if p.actif == 0 %}<img src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="{{ p.nom_fr }} n'est pas actif" alt="img non actif"/>{% else %}<img src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="{{ p.nom_fr }} est actif" alt="img actif" />{% endif %} </a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page})}}">{{ p.nom_en }}</a></td>
									</tr>
								{% endfor %}
								{% if attrait is empty %}
									<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}		
							{% elseif number == 2 %}{#  Affiche le résultat si on entre un nom dans le moteur de recherche #}
                                                            {% if result2 is empty %}
								{% for p in result %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{{ p.nom_fr }}</a></td>
										<td colspan=1 width="100"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{% if p.actif == 0 %}<img src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="{{ p.nom_fr }} n'est pas actif" alt="img non actif"/>{% else %}<img src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="{{ p.nom_fr }} est actif" alt="img actif" />{% endif %} </a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{{ p.nom_en }}</a></td>
									</tr>
								{% endfor %}
                                                            {% elseif result2 is not empty and valideExisteNInterne is not empty %}
                                                                {% for p in result2 %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{{ p.nomfr }}</a></td>
										<td colspan=1 width="100"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{% if p.actif == 0 %}<img src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="{{ p.nomfr }} n'est pas actif" alt="img non actif"/>{% else %}<img src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="{{ p.nomfr }} est actif" alt="img actif" />{% endif %} </a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id})}}">{{ p.nomen }}</a></td>
									</tr>
								{% endfor %}  
                                                            {% endif %}
								{% if result is empty and result2 is empty %}
									<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}	
							{% elseif number == 3 %}
								{% for p in lettre %}{# Affiche le résultat de tous les nom_fr qui commencent par cette première lettre #}
									<tr>	
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{{ p.nom_fr }}</a></td>
										<td colspan=1 width="100"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{% if p.actif == 0 %}<img src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="{{ p.nom_fr }} n'est pas actif" alt="img non actif"/>{% else %}<img src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="{{ p.nom_fr }} est actif" alt="img actif" />{% endif %} </a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{{ p.nom_en }}</a></td>
									</tr>
								{% endfor %}
								{% if lettre is empty %}
									<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}	
							{% else %}
								{% for p in result %}{# Affiche le résultat de tous les attraits qui sont de cette catégorie #}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{{ p.nomfr }}</a></td>
										<td colspan=1 width="100"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{% if p.actif == 0 %}<img src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="{{ p.nomfr }} n'est pas actif" alt="img non actif"/>{% else %}<img src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="{{ p.nomfr }} est actif" alt="img actif" />{% endif %} </a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattrait',{'id':p.id, 'page':page, 'lettre':letter})}}">{{ p.nomen }}</a></td>
									</tr>
								{% endfor %}
								{% if result is empty %}
									<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}	
							{% endif %}
							</tbody>
						</table>
					</td>
				</tr>
				{% if nbattrait > 30 %}
					{% if number == 2 %}
					<tr>
						<td>
							<a class="pagination_customer" href=" {{ path('_Dashboard_attrait',{'page':page - 1}) }}" >{% if firstpage < page %} << {% else %} {% endif %} </a> page {{ page }} / {{ displaypage }} <a href="{{ path('_Dashboard_attrait',{'page':page+1 }) }}">{% if page == displaypage %}{% else %} >>{% endif %}</a></span>
						</td>
					</tr>
					{% else %}
						{% if number != 3 %}
						<tr>
							<td>
								<a class="pagination_customer" href=" {{ path('_Dashboard_attrait',{'page':page - 1}) }}" >{% if firstpage < page %} << {% else %} {% endif %} </a> page {{ page }} / {{ displaypage }} <a href="{{ path('_Dashboard_attrait',{'page':page + 1}) }}">{% if page == displaypage %}{% else %} >>{% endif %}</a></span>
							</td>
						</tr>
						{% endif %}
					{% endif %}				
						<tr>
							<td class="letter_alpha petite_pagination" {% if number == 3 %} style="margin-top:0px;" {% endif %} >
								{% for letter in 'a'|upper ..'z'|upper %}
								<a href="{{ path('_Dashboard_attrait',{'page':page, 'letter':letter}) }}">{{ letter }}</a>
								{% endfor %}
							<td>
						</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}