{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="recentre">
			<tbody>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addattraitsouscategorie')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter une sous catégorie</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0" class="menu_mobile">
							<tbody>
									<tr class="rowsubheader">
										<td width="270" colspan=1>Nom FR</td>
										<td width="270">Nom EN</td>
									</tr>	
							</tbody>
						</table>
						
						<table align="center" class="info_scroll" cellpadding="0" border="0">
							<tbody>
								{% for p in attraitSousCategory %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattraitsouscategorie',{'id':p.id})}}">{{ p.nomfr }}</a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updateattraitsouscategorie',{'id':p.id})}}">{{ p.nomen }}</a></td>
									</tr>
								{% endfor %}	
								{% if attraitSousCategory is empty %}
									<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}	
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}