{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="template_etroit">
			<tbody>
				<a class="fil_ariane couleur_type_chambre" href="{{ path('_Dashboard_typechambreshebergement') }}" title="Ajouter un type de chambre">Types de chambres</a> > <a class="fil_ariane" href="{{ path('_Dashboard_chambreshebergement') }}" title="Ajouter une chambre à un établissement">Chambres</a> > <a class="fil_ariane" href="{{ path('_Dashboard_litshebergement') }}" title="Ajouter un lit">Lits</a>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addtypechambre')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter un type de chambre</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0" class="menu_mobile">
							<tbody>
									<tr class="rowsubheader">
										<td width="270" colspan=1>Nom FR</td>
										<td width="270">Nom EN</td>
									</tr>
							</tbody>
						</table>
						{% if typechambre is empty %}
							<p class="searchnull">Pas de résultat trouvé</p>
						{% else %}	
						<table align="center" class="info_scroll" cellpadding="0" border="0">
							<tbody>
									{% for p in typechambre %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updatetypechambre',{'id':p.id})}}">{{ p.nomfr }}</a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updatetypechambre',{'id':p.id})}}">{{ p.nomen }}</a></td>
									</tr>
									{% endfor %}
							</tbody>
						</table>
					   {% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}