{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="template_etroit">
			<tbody>
				<tr class="rowheader">
					<td><a href="{{path('_Dashboard_addstyle')}}" class="addpays"><img src="{{ asset('bundles/myappadmin/images/Button Add.png') }}" class="add_ville" />Ajouter un style d'hébergement</a>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0" class="menu_mobile">
							<tbody>
									<tr class="rowsubheader">
										<td width="270" colspan=1>Nom FR</td>
										<td width="270">Nom EN</td>
									</tr>
							</tbody>
						</table>
						
						<table align="center" class="info_scroll" cellpadding="0" border="0">
							<tbody>
								{% for p in style %}
									<tr>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updatestyle',{'id':p.id})}}">{{ p.nom_fr }}</a></td>
										<td colspan=1 width="270"><a href="{{path('_Dashboard_updatestyle',{'id':p.id})}}">{{ p.nom_en }}</a></td>
									</tr>
								{% endfor %}
								{% if style is empty %}
										<p class="searchnull">Pas de résultat trouvé</p>
								{% endif %}		
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}