<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Demande de validation d'un tarif de dernière minute</title>
		<style>
			list-style-type:none;
		</style>
	</head>
	<body style="background-color:#dcdcdc;">
	
		<section>
			<article>
				<header>
                                    <ul>
                                        <li>{{ nomHebergement }} a envoyé une demande de publication de tarif dernière minute</li>
                                        <li>Numéro client : {{ numeroClient }}</li>
                                        <li>Nom du forfait : {{ nomForfait }}</li>	
                                        <li>{{ messageinfo }}</li>
                                    </ul>
				</header>
			</article>
		</section>		
		<footer>
			<p style="text-align:center;">Copyright {{ date }} Global réservation</p>
		</footer>
	</body>
</html>


