{% extends '::base2.html.twig' %}

		{% block picture %}
		<p class="legendeHome">{{ "hebergement" | trans }}</p>
		{# div qui va contenir la photo principal du sujet de la section #}
		<div id="photoprincipale">
			<div class="nomSousCategorie">
			  <h1>{{ "hebergement" | trans }} </h1>
                        {% if app.request.locale == "fr" %}
                        <h3><a href="{{ path('_hebergementinfoclient',{'name':clientAleatoire.repertoirefr|lower} ) }}" target="_blank" title="{{ "hebergement" | trans }} région {{ clientAleatoire.regionid.nomfr }} - {{ clientAleatoire.nomfr }}">{{ clientAleatoire.nomfr }} - région {{ clientAleatoire.regionid.nomfr }}</a></h3>
			</div>
				{% if clientAleatoire.photopayante != "" %}
		  		<img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="Hébergement - {{ clientAleatoire.nomfr }}" />
				{% else %}
                                {#<img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="Hébergement - {{ clientAleatoire.nomfr }}" />#}
				<img src="{{ asset('bundles/myappglobal/images/PhotoHebNouveauSite.jpg') }}" alt="Image de remplacement pour {{ clientAleatoire.nomfr }} ">
				{% endif %}
			{% else %}
			<h3><a href="{{ path('_hebergementinfoclient',{'name':clientAleatoire.repertoireen|lower} ) }}" target="_blank" title="{{ "hebergement" | trans }} {{ clientAleatoire.regionid.nomen }} region - {{ clientAleatoire.nomen }}">{{ clientAleatoire.nomen }} - region {{ clientAleatoire.regionid.nomen }}</a></h3>
			</div>
				{% if clientAleatoire.photopayante != "" %}
		 		<img src="{{ asset('uploads/hebergement/photo_payante/photo_payante') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="{{ clientAleatoire.nomen }} - accommodation " />
				{% else %}
				<img src="{{ asset('bundles/myappglobal/images/PhotoHebNouveauSite.jpg') }}" alt="Replacement image for {{ clientAleatoire.nomen }} ">
				{% endif %}
			{% endif %}
		</div>
		{% endblock %}	
		
		{# TEXTE D'ACCUEIL #}
		{% block texte_accueil %}
                    {% if app.request.locale == "fr" %}                        
                            <p>{{ texte_accueilfr|striptags|nl2br }}</p>
                    {% else %}	
                            <p>{{ texte_accueilen|striptags|nl2br }}</p>
                    {% endif %}
		{% endblock %}
		
		{% block body %} 
		<div class="region">
       		<h2>{{ "choisir.endroit.profiter.hebergement" | trans }}</h2>
       		{% if app.request.locale == "fr" %}         
                              <ul>		
                                        {% for nomprovinceqc in regionqc %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceqc.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceqc.provinceid.nomfr }}">{{ nomprovinceqc.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceqc.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceqc.regionid.nomfr }}">{{ nomprovinceqc.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>	
			      		{% for nomprovinceon in regionon %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceon.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceon.provinceid.nomfr }}">{{ nomprovinceon.provinceid.nomfr }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{'name':nomprovinceon.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceon.regionid.nomfr}}">{{ nomprovinceon.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>
			      		{% for nomprovincenb in regionnb %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovincenb.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomfr }}">{{ nomprovincenb.provinceid.nomfr }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{'name':nomprovincenb.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomfr }}">{{ nomprovincenb.regionid.nomfr}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>		
                                        {% for nomprovinceal in regional %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>		
                                        {% for nomprovinceal in regioncb %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>		
                                        {% for nomprovinceal in regionsa %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>		
                                        {% for nomprovinceal in regionip %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>		
                                        {% for nomprovinceal in regiontn %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>		
                                        {% for nomprovinceal in regiontno %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>		
                                        {% for nomprovinceal in regiontma %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>		
                                        {% for nomprovinceal in regiontyc %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovincefr',{'name': nomprovinceal.provinceid.repertoirefr|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceal.provinceid.nomfr }}">{{ nomprovinceal.provinceid.nomfr }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecfr',{ 'name':nomprovinceal.regionid.repertoirefr|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceal.regionid.nomfr }}">{{ nomprovinceal.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
			      <br class="clearfloat" />
                              {# PUB GOOGLE #}
                                   <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
                                         <script type='text/javascript'>
                                                 googletag.cmd.push(function() { googletag.display('zone_01'); });
                                         </script>
                                   </div>
			{% else %}
                              <ul>		
                                        {% for nomprovinceqc in regionqc %}
                                        {% if loop.index == 1 %}
			        	<li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovinceqc.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceqc.provinceid.nomen }}">{{ nomprovinceqc.provinceid.nomen }}</a></li>
			        	{% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovinceqc.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceqc.regionid.nomen }}">{{ nomprovinceqc.regionid.nomen }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>	
			      		{% for nomprovinceon in regionon %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovinceon.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovinceon.provinceid.nomen }}">{{ nomprovinceon.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovinceon.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovinceon.regionid.nomen }}">{{ nomprovinceon.regionid.nomen }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>
			      		{% for nomprovincenb in regionnb %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regional %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regioncb %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regionsa %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regionip %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regiontn %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regiontno %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                              <ul>
			      		{% for nomprovincenb in regiontma %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
                               <ul>
			      		{% for nomprovincenb in regiontyc %}
			      		{% if loop.index == 1 %}
				        <li class="province"><a href="{{path('_hebergementprovinceen',{'name': nomprovincenb.provinceid.repertoireen|lower})}}" title="{{ "hebergement" | trans }} - province {{ nomprovincenb.provinceid.nomen }}">{{ nomprovincenb.provinceid.nomen }}</a></li>
				        {% endif %}
				        <li><a href="{{ path('_hebergementregionsquebecen',{'name':nomprovincenb.regionid.repertoireen|lower}) }}" title="{{ "hebergement" | trans }} - {{ nomprovincenb.regionid.nomen }}">{{ nomprovincenb.regionid.nomen}}</a></li>
				        {% endfor %}
			      </ul>
			       <br class="clearfloat" />
                               {# PUB GOOGLE #}
                                    <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
                                          <script type='text/javascript'>
                                                  googletag.cmd.push(function() { googletag.display('zone_01'); });
                                          </script>
                                    </div>
			{% endif %}
		  </div>
		   
		  {# LISTE DES CATÉGORIES D'HÉBERGEMENTS #}
		   <div class="categorie colonnes2 hackcss">
		 	 <h2 class="childHackcss">{{ "category.hebergement" | trans }}</h2>                           
                    {% if app.request.locale == "fr" %}
                          {# HÔTELS, MOTELS ET AUBERGES #}
			  {% for w in numbCat %}                                                                                      
	            		{% if w.id == 7 and hotel.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':hotel.repertoirefr|lower}) }}" title=" {{ w.nomfr }}- {{ hotel.nomfr }}" target="_blank">
	            	 		 {% if hotel.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ hotel.id }}/{{ hotel.photocategoriepayante }}" class="img_categoie_portail" alt="{{ hotel.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ hotel.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}"> {{ w.nomfr }}</a></h2>
				            <p> {{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':hotel.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ hotel.nomfr }}">{{ hotel.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
                         {# GITES #}
			        {% for w in numbCat %}
	            		{% if w.id == 3 and gite.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':gite.repertoirefr|lower}) }}" title="{{ w.nomfr }}- {{ gite.nomfr }} " target="_blank">
	            	 		 {% if gite.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ gite.id }}/{{ gite.photocategoriepayante }}" class="img_categoie_portail" alt="{{ gite.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ gite.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}">{{ w.nomfr }}</a></h2>
				            <p> {{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':gite.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ gite.nomfr }}">{{ gite.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}"> {{ "see.more" | trans }} </a>]</h4>
				        </div>
				       {% endif %}
			        {% endfor %}
                         {# RÉSIDENCES DE TOURISME #}
			        {% for w in numbCat %}
	            		{% if w.id == 5 and residence.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':residence.repertoirefr|lower}) }}" title=" {{ w.nomfr }}- {{ residence.nomfr }} " target="_blank">
	            	 		 {% if residence.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ residence.id }}/{{ residence.photocategoriepayante }}" class="img_categoie_portail" alt="{{ residence.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ residence.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}">{{ w.nomfr }} </a></h2>
				            <p>{{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':residence.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ residence.nomfr }}">{{ residence.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
                         {# CENTRES DE VACANCES #}
			 {% for w in numbCat %}
	            		{% if w.id == 4 and centreVacance.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':centreVacance.repertoirefr|lower}) }}" title="{{ w.nomfr }}- {{ centreVacance.nomfr }}" target="_blank">
	            	 		 {% if centreVacance.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ centreVacance.id }}/{{ centreVacance.photocategoriepayante }}" class="img_categoie_portail" alt="{{ centreVacance.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ centreVacance.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}">{{ w.nomfr }}</a></h2>
				            <p>{{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':centreVacance.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ centreVacance.nomfr }}">{{ centreVacance.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}"  title="{{ w.nomfr }}"> {{ "see.more" | trans }} </a>]</h4>
				        </div>
                                {% endif %}
			{% endfor %}
            		{# AUBERGES DE JEUNESSES #}
            		{% for w in numbCat %}
	            		{% if w.id == 2 and auberge.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':auberge.repertoirefr|lower}) }}" title="{{ w.nomfr }}- {{ auberge.nomfr }}" target="_blank">
	            	 		 {% if auberge.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ auberge.id }}/{{ auberge.photocategoriepayante }}" class="img_categoie_portail" alt="{{ auberge.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ auberge.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}"> {{ w.nomfr }} </a> </h2>
				            <p> {{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':auberge.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ auberge.nomfr }}">{{ auberge.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}"  title="{{ w.nomfr }}"> {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}	
                         {# ÉTABLISSEMENT INSOLITE #}
                            {% for w in numbCat %}
                                    {% if w.id == 10 and insolite.repertoirefr is defined %}
                                    <div><a href="{{ path('_hebergementinfoclient',{'name':insolite.repertoirefr|lower}) }}" title="{{ w.nomfr }}- {{ insolite.nomfr }}" target="_blank">
	            	 		 {% if insolite.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ insolite.id }}/{{ insolite.photocategoriepayante }}" class="img_categoie_portail" alt="{{ insolite.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ insolite.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}"> {{ w.nomfr }} </a> </h2>
				            <p> {{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':insolite.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ insolite.nomfr }}">{{ insolite.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}"  title="{{ w.nomfr }}"> {{ "see.more" | trans }} </a>]</h4>
				        </div>
				      {% endif %}
			        {% endfor %}
                         {# ÉTABLISSEMENTS D'ENSEIGNEMENT #}
			        {% for w in numbCat %}
	            		{% if w.id == 6 and etablissement.repertoirefr is defined%}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':etablissement.repertoirefr|lower}) }}" title=" {{ w.nomfr }}- {{ etablissement.nomfr }}" target="_blank">
	            	 		 {% if etablissement.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ etablissement.id }}/{{ etablissement.photocategoriepayante }}" class="img_categoie_portail" alt="{{ etablissement.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ etablissement.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}">{{ w.nomfr }} </a></h2>
				            <p>{{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':etablissement.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ etablissement.nomfr }}">{{ etablissement.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				    	{% endif %}
			        {% endfor %}
			  {# TERRAINS DE CAMPING #}
			        {% for w in numbCat %}
	            		{% if w.id == 8 and camping.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':camping.repertoirefr|lower}) }}" title=" {{ w.nomfr }}- {{ camping.nomfr }} " target="_blank">
	            	 		 {% if camping.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ camping.id }}/{{ camping.photocategoriepayante }}" class="img_categoie_portail" alt="{{ camping.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ camping.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}"> {{ w.nomfr}} </a></h2>
				            <p>{{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':camping.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ camping.nomfr }}">{{ camping.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
			  {# VILLAGES D'ACCUEIL #}
			        {% for w in numbCat %}
	            		{% if w.id == 9 and village.repertoirefr is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':village.repertoirefr|lower}) }}" title="{{ w.nomfr }}- {{ village.nomfr }}" target="_blank">
	            	 		 {% if village.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ village.id }}/{{ village.photocategoriepayante }}" class="img_categoie_portail" alt="{{ village.nomfr }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ village.nomfr }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomfr|lower }}">{{ w.nomfr }} </a></h2>
				            <p>{{ w.resumefr|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':village.repertoirefr|lower}) }}" target="_blank" title="{{ w.nomfr }} {{ village.nomfr }}">{{ village.nomfr|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoirefr|lower}) }}" title="{{ w.nomfr }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				{% endif %}
			        {% endfor %}
			{% else %} {# VERSION ANGLAISE #}
                        {# HÔTELS, MOTELS ET AUBERGES #}
			    {% for w in numbCat %}
	            		{% if w.id == 7 and hotel.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':hotel.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ hotel.nomen }}" target="_blank">
	            	 		 {% if hotel.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ hotel.id }}/{{ hotel.photocategoriepayante }}" class="img_categoie_portail" alt="{{ hotel.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ hotel.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }}</a></h2>
				            <p>{{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':hotel.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ hotel.nomen }}">{{ hotel.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}"> {{ "see.more" | trans }} </a>]</h4>
				        </div>
				{% endif %}
			    {% endfor %}
                         {# GITES #}
			        {% for w in numbCat %}
	            		{% if w.id == 3 and gite.repertoireen is defined%}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':gite.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ gite.nomen }}" target="_blank">
	            	 		 {% if gite.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ gite.id }}/{{ gite.photocategoriepayante }}" class="img_categoie_portail" alt="{{ gite.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ gite.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }}</a></h2>
				            <p>{{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':gite.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ gite.nomen }}">{{ gite.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
                        {# RÉSIDENCES DE TOURISME #}
			        {% for w in numbCat %}
	            		{% if w.id == 5 and residence.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':residence.repertoireen|lower}) }}" title="{{ w.nomen }}- {{ residence.nomen }}" target="_blank">
	            	 		 {% if residence.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ residence.id }}/{{ residence.photocategoriepayante }}" class="img_categoie_portail" alt="{{ residence.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ residence.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }} </a></h2>
				            <p>{{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':residence.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ residence.nomen }}">{{ residence.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
                         {# CENTRES DE VACANCES #}
			        {% for w in numbCat %}
	            		{% if w.id == 4 and centreVacance.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':centreVacance.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ centreVacance.nomen }}" target="_blank">
	            	 		 {% if centreVacance.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ centreVacance.id }}/{{ centreVacance.photocategoriepayante }}" class="img_categoie_portail" alt="{{ centreVacance.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ centreVacance.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }}</a></h2>
				            <p> {{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':centreVacance.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ centreVacance.nomen }}">{{ centreVacance.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
			{# AUBERGES DE JEUNESSES #}
				{% for w in numbCat %}
	            		{% if w.id == 2 and auberge.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':auberge.repertoireen|lower}) }}" title="{{ w.nomen }}- {{ auberge.nomen }}" target="_blank">
	            	 		 {% if auberge.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ auberge.id }}/{{ auberge.photocategoriepayante }}" class="img_categoie_portail" alt="{{ auberge.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ auberge.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}"> {{ w.nomen }} </a></h2>
				            <p> {{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':auberge.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ auberge.nomen }}">{{ auberge.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				       {% endif %}
			        {% endfor %}
                         {# ÉTABLISSEMENTS INSOLITE #}
			        {% for w in numbCat %}
	            		{% if w.id == 10 and insolite.repertoireen is defined%}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':insolite.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ insolite.nomen }}" target="_blank">
	            	 		 {% if insolite.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ insolite.id }}/{{ insolite.photocategoriepayante }}" class="img_categoie_portail" alt="{{ insolite.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image de remplacement pour {{ insolite.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypefr',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomfr }} </a></h2>
				            <p>{{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':insolite.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ insolite.nomen }}">{{ insolite.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypefr',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				    	{% endif %}
			        {% endfor %}
			 {# ÉTABLISSEMENTS D'ENSEIGNEMENT #}
			        {% for w in numbCat %}
	            		{% if w.id == 6 and etablissement.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':etablissement.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ etablissement.nomen }}" target="_blank">
	            	 		 {% if etablissement.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ etablissement.id }}/{{ etablissement.photocategoriepayante }}" class="img_categoie_portail" alt="{{ etablissement.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ etablissement.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}"> {{ w.nomen }} </a></h2>
				            <p> {{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':etablissement.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ etablissement.nomen }}">{{ etablissement.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
			 {# TERRAINS DE CAMPING #}
			         {% for w in numbCat %}
	            		{% if w.id == 8 and camping.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':camping.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ camping.nomen }}" target="_blank">
	            	 		 {% if camping.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ camping.id }}/{{ camping.photocategoriepayante }}" class="img_categoie_portail" alt="{{ camping.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ camping.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }} </a></h2>
				            <p> {{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }}</p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':camping.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ camping.nomen }}">{{ camping.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
			         {# VILLAGES D'ACCUEIL #}
			         {% for w in numbCat %}
	            		{% if w.id == 9 and village.repertoireen is defined %}
	            		<div><a href="{{ path('_hebergementinfoclient',{'name':village.repertoireen|lower}) }}" title=" {{ w.nomen }}- {{ village.nomen }}" target="_blank">
	            	 		 {% if village.photocategoriepayante != "" %}
	            				<img src="{{ asset('uploads/hebergement/photo_categorie_payante/photo_categorie_payante') }}{{ village.id }}/{{ village.photocategoriepayante }}" class="img_categoie_portail" alt="{{ village.nomen }}" />
	            				{% else %}
	            				<img src="{{ asset('uploads/categorie_hebergement') }}/{{ w.id }}/{{ w.image }}" class="img_categoie_portail" alt="Image replacement {{ village.nomen }}" />
	            				{% endif %}
	            			 </a> 
				            <h2><a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ "category.hebergement" | trans }} {{ w.nomen|lower }}">{{ w.nomen }} </a></h2>
				            <p> {{ w.resumeen|convert_encoding('UTF-8', 'UTF-8')|striptags }} </p>
				            <h3 class="under_picture"><a href="{{ path('_hebergementinfoclient',{'name':village.repertoireen|lower}) }}" target="_blank" title="{{ w.nomen }} {{ village.nomen }}">{{ village.nomen|truncate(30, '...')  }}</a></h3>   
				            <h4>[<a href="{{ path('_hebergementtypeen',{'name':w.repertoireen|lower}) }}" title="{{ w.nomen }}" > {{ "see.more" | trans }} </a>]</h4>
				        </div>
				        {% endif %}
			        {% endfor %}
				{% endif %}
		    <br class="clearfloat" />
		 </div>  
		{% endblock %}
		
		{% block gauche %}
			{# Implémentation de la recherche par carte #}
         	{% include '::searchCard.html.twig' %}
			{# NOS SUGGESTIONS SOUS LA RECHERCHE AVEC LA CARTE #}
		    {% include 'MyAppGlobalBundle:Hebergement:suggestionColonneGauche.html.twig' %}
		{%endblock%}
		