{% extends '::base2.html.twig' %}

		{% block picture %}	
		<p class="legendeHome">{{ "forfait" | trans }} {% if app.request.locale == "fr" %} ville {{ clientAleatoire.hebergementid.villeid.nomfr }} {% else %} city {{ clientAleatoire.hebergementid.villeid.nomen }} {% endif %}</p>
	{# div qui va contenir la photo principal du sujet de la section #}
		<div id="photoprincipale">
		{% if app.request.locale == "fr" %}
			<div class="nomSousCategorie">
				<h1>{{ "forfait" | trans }} ville de {{ clientAleatoire.hebergementid.villeid.nomfr }}</h1>
				<h3><a href="{{ path('_hebergementforfait',{'name': clientAleatoire.hebergementid.repertoirefr|lower } ) }}" target="_blank" title="Forfaits {{ clientAleatoire.hebergementid.nomfr }}">{{ clientAleatoire.nomfr }}, {{ clientAleatoire.hebergementid.nomfr }} - ville de {{ clientAleatoire.hebergementid.villeid.nomfr }}</a></h3>
			</div>
			{% if clientAleatoire.imageprincipale is not empty %}
		  		<img src="{{ asset('uploads/forfaits-client/image_principale') }}/{{ clientAleatoire.id }}/{{ clientAleatoire.imageprincipale }}" class="big_picture" alt="{{ clientAleatoire.forfaitclientid.nomfr }}" />
			{% else %}
				<img src="{{ asset('uploads/forfaits/images_') }}{{ idActivite }}/{{ imgRandom }}" class="big_picture" alt="Forfait {{ clientAleatoire.forfaitclientid.nomfr }} {{ clientAleatoire.hebergementid.nomfr }}">
			{% endif %}
		{% else %}
			<div class="nomSousCategorie">
				<h1>{{ "forfait" | trans }} city of {{ clientAleatoire.hebergementid.villeid.nomen }} </h1>
				<h3><a href="{{ path('_hebergementforfaiten',{'name': clientAleatoire.hebergementid.repertoireen|lower } ) }}" target="_blank" title="Packages {{ clientAleatoire.hebergementid.nomen }}">{{ clientAleatoire.nomen }}, {{ clientAleatoire.hebergementid.nomen }} - city {{ clientAleatoire.hebergementid.villeid.nomen }}</a></h3>
			</div>
			{% if clientAleatoire.imageprincipale is not empty %}
		  		<img src="{{ asset('uploads/forfaits-client/image_principale') }}/{{ clientAleatoire.id }}/{{ clientAleatoire.imageprincipale }}" class="big_picture" alt="{{ clientAleatoire.forfaitclientid.nomen }} - {{ clientAleatoire.nomen }}" />
			{% else %}
				<img src="{{ asset('uploads/forfaits/images_') }}{{ idActivite }}/{{ imgRandom }}" class="big_picture" alt="Replacement image for {{ clientAleatoire.hebergementid.nomen }} ">
			{% endif %}
		{% endif %}
		</div>
		{% endblock %}
		
		{# TEXTE DE D'ACCUEIL #}
		{% block texte_accueil %}
				{% if app.request.locale == "fr" %}
					<p>{{ texte_accueilfr|striptags|nl2br }}</p>
				{% else %}	
					<p>{{ texte_accueilen|striptags|nl2br }}</p>
				{% endif %}
		{% endblock %}
		
		{% block body %} 
			<div class="colonnes4photo">
		     <h2 class="retouche">{{ "les.forfait.pour.la.ville.de" | trans }}  {% if app.request.locale == "fr" %} {{ clientAleatoire.hebergementid.villeid.nomfr }} {% else %} {{ clientAleatoire.hebergementid.villeid.nomen }} {% endif %} </h2>
			{% if app.request.locale == "fr" %}
				{% for f in listforfait %}
					<div> 
						<h2><a href="{{ path('_forfaitsactiviteville',{'activite':f.forfaitclientid.repertoirefr|lower, 'name':f.hebergementid.villeid.repertoirefr|lower}) }}" title="Forfaits {{ f.forfaitclientid.nomfr|lower }}">{{ f.forfaitclientid.nomfr }}</a></h2>
                                                {% if f.imagecategorie is not empty %}
						<a href="{{ path('_forfaitsactiviteville',{'activite':f.forfaitclientid.repertoirefr|lower, 'name':f.hebergementid.villeid.repertoirefr|lower}) }}" title="forfaits {{ f.nomfr }}"><img src="{{ asset('uploads/forfaits-client/image_categorie') }}/{{ f.id }}/{{ f.imagecategorie }}" class="img_categoie_portail" alt="{{ f.nomfr }}" title="{{ f.forfaitclientid.nomfr }} {{ f.nomfr|lower }}" /></a>
						{% else %}
                                                <a href="{{ path('_forfaitsactiviteville',{'activite':f.forfaitclientid.repertoirefr|lower, 'name':f.hebergementid.villeid.repertoirefr|lower}) }}" title="forfaits {{ f.nomfr }}"><img src="{{ asset('uploads/forfaits') }}/{{ f.forfaitclientid.id }}/{{ f.forfaitclientid.image }}" class="img_categoie_portail" alt="{{ f.nomfr }}" title="{{ f.forfaitclientid.nomfr }} {{ f.nomfr|lower }}" /></a>
                                                {% endif %}
                                                <h3><a href="{{ path('_hebergementforfait',{'name':f.hebergementid.repertoirefr|lower } ) }}" title="Forfaits {{ f.forfaitclientid.nomfr|lower }} - {{ f.hebergementid.nomfr }}" target="_blank">{{ f.hebergementid.nomfr|truncate(23, '...') }}</a></h3> 
					</div>
				{% endfor %}
			{% else %}
				{% for f in listforfait %}
					<div> 
						<h2><a href="{{ path('_forfaitsactiviteville',{'activite':f.forfaitclientid.repertoireen|lower, 'name':f.hebergementid.villeid.repertoireen|lower }) }}" title="Package {{ f.forfaitclientid.nomen|lower }}">{{ f.forfaitclientid.nomen }}</a></h2>
						{% if f.imagecategorie is not empty %}
                                                <a href="{{ path('_forfaitsactiviteville',{ 'activite':f.forfaitclientid.repertoireen|lower, 'name':f.hebergementid.villeid.repertoireen|lower}) }}"><img src="{{ asset('uploads/forfaits-client/image_categorie') }}/{{ f.id }}/{{ f.imagecategorie }}" class="img_categoie_portail" alt="{{ f.nomen }}" title="{{ f.forfaitclientid.nomfr }} {{ f.nomen|lower }}" /></a>
						{% else %}
                                                <a href="{{ path('_forfaitsactiviteville',{ 'activite':f.forfaitclientid.repertoireen|lower, 'name':f.hebergementid.villeid.repertoireen|lower}) }}"><img src="{{ asset('uploads/forfaits') }}/{{ f.forfaitclientid.id }}/{{ f.forfaitclientid.image }}" class="img_categoie_portail" alt="{{ f.nomen }}" title="{{ f.forfaitclientid.nomfr }} {{ f.nomen|lower }}" /></a>
                                                {% endif %}
                                                <h3><a href="{{ path('_hebergementforfaiten',{'name':f.hebergementid.repertoirefr|lower } ) }}" title="Package {{ f.forfaitclientid.nomen|lower }} - {{ f.hebergementid.nomen }}" target="_blank">{{ f.hebergementid.nomen|truncate(23, '...') }}</a></h3> 
					</div>
				{% endfor %}
			{% endif %}
			<br class="clearfloat" />
		   </div>
		   {# PUB GOOGLE #}
			  <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
			  	<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_01'); });
				</script>
			  </div>
  		  <br class="clearfloat" />
		{% endblock %}
		
		{% block gauche %}
			{% include 'MyAppGlobalBundle:Forfaits:suggestionsCategorie.html.twig' %}
		{% endblock %}
		
