{% extends '::base2.html.twig' %}

		{% block picture %}
		<p class="legendeHome">{{ "restaurant" | trans }}</p>
	{# div qui va contenir la photo principal du sujet de la section #}
		<div id="photoprincipale">
			<div class="nomSousCategorie">
				<h1>{{ "restaurant" | trans }}</h1>
			{% if app.request.locale == "fr" %}
					<h3><a href="{{ clientAleatoire.regionid.urlfr }}/{{ clientAleatoire.zoneid.repertoirefr }}/{{ clientAleatoire.repertoirefr|lower }}" target="_blank" title="{{ "restaurant" | trans }} {{ clientAleatoire.nomfr }}">{{ clientAleatoire.nomfr }} région {{ clientAleatoire.regionid.nomfr }}</a></h3>
			</div>
				{% if clientAleatoire.photopayante is not empty %}
					<img src="{{ asset('uploads/attrait/') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="{{ clientAleatoire.nomfr }} - {{ clientAleatoire.villeid.nomfr }}" />
				{% else %}
					<div class="imgRemplacementGlobal"><img src="{{ asset('bundles/myappglobal/images/logoglobal.jpg') }}" alt="Image de remplacement pour {{ clientAleatoire.nomfr }} "></div>
				{% endif %}
			{% else %}
					<h3><a href="{{ clientAleatoire.regionid.urlen }}/{{ clientAleatoire.zoneid.repertoireen }}/{{ clientAleatoire.repertoireen|lower }}" target="_blank" title="{{ "restaurant" | trans }} {{ clientAleatoire.nomen }}">{{ clientAleatoire.nomen }} region {{ clientAleatoire.regionid.nomen }}</a></h3>
			</div>
				{% if clientAleatoire.photopayante is not empty %}
					<img src="{{ asset('uploads/attrait/') }}{{ clientAleatoire.id }}/{{ clientAleatoire.photopayante }}" class="big_picture" alt="{{ clientAleatoire.nomen }} - {{ clientAleatoire.villeid.nomen }}" />
				{% else %}
					<div class="imgRemplacementGlobal"><img src="{{ asset('bundles/myappglobal/images/logoglobal.jpg') }}" alt="Replacement image for {{ clientAleatoire.nomen }} "></div>
				{% endif %}
			{% endif %}
		</div>	
		{% endblock %}
		{# TEXTE DE D'ACCUEIL #}
		{% block texte_accueil %}
				{% if app.request.locale == "fr" %}
					<p>{{ texte_accueilfr|striptags|nl2br }}</p>
				{% else %}	
					<p>{{ texte_accueilen|striptags|nl2br }}</p>
				{% endif %}
		{% endblock %}
		{% block body %} 
		{# LISTES DES PROVINCES AVEC LEURS RÉGIONS #}			
			<div class="region">
			  <h2>{{ "choisir.endroit.restaurant" | trans }}</h2>
				{% if app.request.locale == "fr" %}	
				  <ul>	
						{% for listeregionqc in regionqc %}
							{% if loop.index == 1 %}
			        		<li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionqc.provinceid.repertoirefr|lower}) }}" title="Restaurant province {{ listeregionqc.provinceid.nomfr }}">Province {{ listeregionqc.provinceid.nomfr }}</a></li>
			        		{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionqc.regionid.repertoirefr|lower}) }} " title="Restaurant région - {{ listeregionqc.regionid.nomfr }}">{{ listeregionqc.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>	
						{% for listeregionon in regionon %}
							{% if loop.index == 1 %}
				        	<li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionon.provinceid.repertoirefr|lower}) }}" title="Restaurant province {{ listeregionon.provinceid.nomen }}">Province {{ listeregionon.provinceid.nomfr }}</a></li>
				        	{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionon.regionid.repertoirefr|lower}) }}" title="Restaurant région - {{ listeregionon.regionid.nomfr }}">{{ listeregionon.regionid.nomfr }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>
						{% for listeregionnb in regionnb %}
							 {% if loop.index == 1 %}
				       		 <li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionnb.provinceid.repertoirefr|lower}) }}" title="Restaurant province {{ listeregionnb.provinceid.nomfr }}">Province {{ listeregionnb.provinceid.nomfr }}</a></li>
				        	{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionnb.regionid.repertoirefr|lower}) }}" title="Restaurant région - {{ listeregionnb.regionid.nomfr }}">{{ listeregionnb.regionid.nomfr}}</a></li>
				        {% endfor %}
		          </ul>
		       {% else %}
		       	 <ul>	
						{% for listeregionqc in regionqc %}
							{% if loop.index == 1 %}
			        		<li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionqc.provinceid.repertoireen|lower}) }}" title="Restaurant province {{ listeregionqc.provinceid.nomen }}">Province {{ listeregionqc.provinceid.nomen }}</a></li>
				        	{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionqc.regionid.repertoireen|lower}) }} " title="Restaurant region - {{ listeregionqc.regionid.nomen }}">{{ listeregionqc.regionid.nomen }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>	
						{% for listeregionon in regionon %}
							{% if loop.index == 1 %}
				        	<li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionon.provinceid.repertoireen|lower}) }}" title="Restaurant province {{ listeregionon.provinceid.nomen }}">Province {{ listeregionon.provinceid.nomen }}</a></li>
				        	{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionon.regionid.repertoireen|lower}) }}" title="Restaurant region - {{ listeregionon.regionid.nomen }}">{{ listeregionon.regionid.nomen }}</a></li>
				        {% endfor %}
			      </ul>
			      <ul>
						{% for listeregionnb in regionnb %}
							{% if loop.index == 1 %}
				        	<li class="province"><a href="{{ path('_restaurant_province_index',{'name':listeregionnb.provinceid.repertoireen|lower}) }}" title="Restaurant province {{ listeregionnb.provinceid.nomen }}">Province {{ listeregionnb.provinceid.nomen }}</a></li>
				        	{% endif %}
				        <li><a href="{{ path('_restaurantregion',{'name':listeregionnb.regionid.repertoireen|lower}) }}" title="Restaurant region - {{ listeregionnb.regionid.nomen}}">{{ listeregionnb.regionid.nomen}}</a></li>
				        {% endfor %}
		          </ul>
		       {% endif %}
			  <br class="clearfloat" />
			</div>
			 {# PUB GOOGLE #}
			  <div id="zone_01" class="pubGoogleBottom pubGoogleAttrait" >
			  	<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_01'); });
				</script>
			  </div>
			<div class="colonnes3 hackcss">
			  <h2 class="childHackcss">{{ "categorie.cuisine" | trans }}</h2>
			<div> 
			{# LISTE DES CHOIX DE RESTAURANTS #}
				<ul>
				{% if app.request.locale == "fr" %}
					{% for resto in listrestoFR %}
						{% for liste in resto.cuisineid %}
							<li><a href="{{path('_restaurantspecialite',{'name':liste.repertoirefr|lower})}}" title="Restaurants {{liste.nomfr|lower}}">Restaurants {{liste.nomfr|lower}}</a></li> 
						{% endfor %}
					{% endfor %} 
				{% else %}
					{% for resto in listrestoEN %}
						{% for liste in resto.cuisineid %}
							<li><a href="{{path('_restaurantspecialite',{'name':liste.repertoireen|lower})}}" title="{{liste.nomen}} restaurants ">{{liste.nomen}} restaurants </a></li> 
						{% endfor %}
					{% endfor %} 
				{% endif %}
			   </ul>
			</div>
			<br class="clearfloat" />
			</div>
		{% endblock %}	
					
		{%block gauche%}
		{# Implémentation de la recherche par carte #}
         	{% include '::searchCard.html.twig' %}
			{# PUB GOOGLE #}
			<div id="zone_02" class="styleBigBox">
				<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('zone_02'); });
				</script>
			</div>
		{%endblock%}	