{% extends '::base1.html.twig' %}
{% block content %}
	<div class="tabAdmin">	
		<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="template_etroit">
			<tbody>
				<tr class="rowheader">
					<td> 
						<p>Modification des comptes clients de Global réservation</p>
						<table align="center" width="550" cellspacing="3" cellpadding="0" border="0">
							<tbody>
									<tr class="rowsubheader">
										<td width="270" colspan=1>Clients du système</td>
										<td width="270" colspan=1>N° interne</td>
										<td width="270">Rôle</td>
										<td width="270">Dernier log</td>
										<td width="270">Modifier le mot de passe</td>
										<td width="270">Actif</td>
									</tr>
								{% for p in listuser %} {# Boucle l'objet listuser pour afficher les information des utilisateurs du système #}
									<tr>
										<td colspan=1><a href="{{path('_Dashboard_updateclients',{'id':p.id, 'number':0})}}">{{ p.nom }}</a></td>
										<td colspan=1><a href="{{path('_Dashboard_updateclients',{'id':p.id, 'number':0})}}">{{ p.username }}</a></td>
										<td colspan=1>
											<a href="{{path('_Dashboard_updateclients',{'id':p.id, 'number':0})}}">
												{% for role in p.roles %} 
												  	{% if role == "ROLE_ADMIN" %} {# Affiche les utilisateurs ayant les roles admin  #}
												  		{{ role }}
												  	{% endif %}
												{% endfor %}
											 </a>
										</td>
										<td colspan=1><a href="{{ p.id }}" class="viewlog">Voir les logs</a></td>
										<td colspan=1><a href="{{path('_Dashboard_updateclients',{'id':p.id})}}">Modifier le mot de passe</a></td>
										<td colspan=1><a href="{{path('_Dashboard_updateclients',{'id':p.id, 'number':0})}}">{% if p.isActive == 0 %}<img id="{{ p.id }}" name="actif" src="{{ asset('bundles/myappadmin/images/buttons_cancel_xxl.png') }}" title="Utilisateur non actif" />{% else %}<img name="actif" id="{{ p.id }}" src="{{ asset('bundles/myappadmin/images/buttons_ok_xxl.png') }}" title="Utilisateur Global actif"/>{% endif %}</a></td>
									</tr>
								{% endfor %} {# Fermeture de la boucle pour afficher les informations des utilisateurs du système #}
							</tbody>
						</table>				
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	 $(function() {
		 $( "#dialog" ).dialog({
		 	 autoOpen: false,
			 show: {
			 	effect: "blind",
			 	duration: 1000
			 },
			 hide: {
				effect: "explode",
			 	duration: 1000
			 }
		 });
		 $( ".viewlog" ).click(function() {
			 $( "#dialog" ).dialog( "open" );
			 alert($(this).attr("href"));
		 });
		

		 /*$(".loadingVille").hide();
			$(".viewlog").click(function(){ 
			    $(".loadingVille").show();
			    var clientid = $(this).attr("href");
			    var DATA = 'clientid=' + clientid  ;
			    $.ajax({
			        type: "post",
			       // url: "",
			        data: DATA,
			        cache: false,
			        success: function(data){
				       // alert(data);
				       $('#retour3').html(data);
			           $(".loadingVille").hide();
			        }
			    });    
			    return false;
			});*/
	});
	</script>
	
{% endblock %}